:root {
	--blue: #0072B5;
  --white: #ffffff;
  --basic: #ddd;
  --primary: #FF9F1C;
  --secondary: #F71735;
  --light: #FDFFFC;
  --rich-black: #011627;
  --turquoise: #41EAD4;
  --marian-blue: #1e3888;
  --white-seasalt: #F8F7F9;
 }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, Arial;
	font-size: 1rem;
}

body {
	background-color: var(--basic);
/*	font-size: 1rem;*/
	display: flex;
}

aside {
	order: 1;
/*	height: 100%;*/
	width: 200px;
	background-color: white;
	padding: 1em;
}

aside h1, aside ul {
	top: 1em;
	position: fixed;
}

aside h1 a{
	font-size: 1em;
	text-decoration: none;
	color: black;
}

aside ul {
	top: 3em;
}

aside ul li {
	margin-left: 1em;
	list-style: none;
}

aside ul li a {
	text-decoration: none;
	color: grey;
	font-size: .8em;
}

aside ul li a:hover {
	color: black;
}

aside ul li a.active {
	color: black;
}

/* main-content */

.main-content {
	order: 2;
	height: 200vh;
	width: 100%;	
}

.main-content nav {
	height: 10vh;
	right: 0;
	left: 180px;
	position: fixed;
	display: flex;
	padding: 1em;
}

.main-content nav .title {
	flex: 1;
	justify-content: flex-start;
}

.main-content nav h1 {
	flex: 1;
	justify-content: flex-end;
}

.main-content .header {
	margin-top: 7em;
}

.main-content .header h1{
	font-size: 2em;
	text-align: center;
}

.main-content .dashboard-content {
	margin: 5em auto;
	width: 95%;
	height: 100vh;
	background-color: white;
}